.NotationArea {
    width: 800px;
    margin: auto;
    background-color: antiquewhite;
    display: block;
}

.ControlArea {
    width: 800px;
    margin: auto;
    display: block;
}

.ControlArea .back {
    float: right;
}
